<mat-card class="card-custom">
    <div class="picture" [ngStyle]="{'background-image': 'url('+ item.urlToImage +')'}">
        <div class="ours">

            <div class="editor">{{item.source.name}}</div>
        </div>
    </div>


    <a href="{{item.url}}" [ngClass]="{'has-Author': item.author!==null}" target="_blank" rel="noopener noreferrer">
        <mat-card-title>{{item.title}}</mat-card-title>
    </a>


    <div *ngIf="item.author!==null" class="author"><span>BY</span>{{item.author}}</div>

</mat-card>
